<h1><strong>Stupid Coach</strong></h1>

<div class="question">
  <p><%= @question %></p>
  <p><i>-You</i></p>
</div>


<div class="Coach">
  <p><strong><%= @answer %></strong></p>
  <p><i>-Your Coach</i></p>
</div>

<%= link_to "Ask another question", ask_path  %>
